
html {
	-ms-content-zooming: none;
	-ms-touch-action: pan-x pan-y;
}

body {
	margin: 0;
	background-color: #fff;
	font-family: 'Apple SD Gothic Neo',AppleSDGothicNeo,'Malgun Gothic','맑은 고딕',sans-serif;
	color: #000;
}



#menu {
	height: 70px;
	width: 100%;
	background-color: #fff;
	position: sticky;
	top: 0px;
	left: 0px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .50);
	overflow: visible;
	z-index: 6;
}

#menulogo {
	width: 94px;
	height: 70px;
	margin-right: 30px;
	float: left;
	position: relative;
    background: url("img/toplogo.png");
    background-size: contain;
}

#menuposition {
	width: 1080px;
	height: 70px;
	display: inline-block;
}


#menuright {
	float: right;
	position: relative;
}

#menuoff {
	height: 40px;
    padding: 25px 10px 0 11px;
	color: #000;
	float: left;
	position: relative;
	font-size: 16px;
    line-height: 19px;
}

#menuon {
	height: 40px;
    padding: 25px 10px 0 11px;
	color: #000;
	float: left;
	position: relative;
	font-size: 16px;
    line-height: 19px;
    border-bottom: 5px solid #000;
	font-weight: 1000;
}


#menuoff:hover {
	border-bottom: 5px solid #000;
	font-weight: 1000;
	color: #000;
}


#menuon:hover {
	border-bottom: 5px solid #000;
	font-weight: 1000;
	color: #000;
}




#menu a {
	color: #000;
}


#container {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

#contents {
	display: inline-block;
	margin:0 auto;
	max-width: 1080px;
	font-size: 1em;
}

#contents h1 {
	font-weight:1000;
	font-size:6em;
	margin: 20px;
}

#contents h2 {
	font-weight:1000;
	font-size:3em;
	margin: 20px;
}

#contents h3 {
	font-weight:1000;
	font-size:2em;
}

#contents a:hover, a:visited, a:link, a:active {
	text-decoration:none;
}

#contents .button {
    background-color: #efefef;
    width: 70%;
    border: none;
    color: #004ea2;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

#contents .button:hover{
	color: #ffffff;
	background: #004ea2;
}



#textbox {
	margin: 10px;
	width: 70%;
	display: inline-block;
}

#textboxleft {
	margin: 0px 0px 2em 0px;
	width: 70%;
	text-align: left;
	display: inline-block;
}

#textboxleft h1 {
	text-align: center;
}


#textbox img {
	width: 100%;
}

#iconposition {
	padding-top: 2em;
	width: 1080px;
	height: 100px;
	display: inline-block;
}

#iconbox {
	float: center;
	position: relative;
	display: inline-block;
	width: 4em;
}

#iconbox img {
	width: 100%;
	filter:opacity(100%); /*For IE8 and earlier*/
}

#iconbox a {
	text-decoration: none;
	border: 0;
}

#iconbox a:hover {
	background: #fff;
}

#iconbox img:hover {
	background: #fff;
	filter:opacity(40%); /*For IE8 and earlier*/
}

#mainjw {
	display: inline-block;
	width: 100%;
	padding-top: 57%;
	animation-name: yjw;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes yjw {
	0% {background-image: url('./img/yjw_animation_01.png'); background-size: cover;}
	20.9% {background-image: url('./img/yjw_animation_01.png'); background-size: cover;}
	21% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	21.9% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	22% {background-image: url('./img/yjw_animation_03.png'); background-size: cover;}
	22.9% {background-image: url('./img/yjw_animation_03.png'); background-size: cover;}
	23% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	23.9% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	24% {background-image: url('./img/yjw_animation_01.png'); background-size: cover;}
	70.9% {background-image: url('./img/yjw_animation_01.png'); background-size: cover;}
	71% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	71.9% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	72% {background-image: url('./img/yjw_animation_03.png'); background-size: cover;}
	72.9% {background-image: url('./img/yjw_animation_03.png'); background-size: cover;}
	73% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	73.9% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	74% {background-image: url('./img/yjw_animation_01.png'); background-size: cover;}
	80.9% {background-image: url('./img/yjw_animation_01.png'); background-size: cover;}
	81% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	81.9% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	82% {background-image: url('./img/yjw_animation_03.png'); background-size: cover;}
	82.9% {background-image: url('./img/yjw_animation_03.png'); background-size: cover;}
	83% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	83.9% {background-image: url('./img/yjw_animation_02.png'); background-size: cover;}
	84% {background-image: url('./img/yjw_animation_01.png'); background-size: cover;}
	100% {background-image: url('./img/yjw_animation_01.png'); background-size: cover;}
}

#mainjw img {
	width: 100%;
	max-width: 1080px;
}

#mainbg {
	width: 100%;
	background: linear-gradient(#ddd 90%, #fff 10%);
}

#workbox {
	display: inline-block;
}

#workbox img {
	width: 100%;
	filter: grayscale(100%) contrast(80%) opacity(80%);
}

#workbox img:hover {
	filter: none;
}


#newsbox {
	margin: 0px 20px;
	text-align: left;
	display: inline-block;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}

#noticebox {
	margin: 0px 0px 20px 0px;
	padding: 20px;
	color: #fff;
	font-weight: 1000;
	background-color: #004ea2;
}

#noticebox2 {
	color: #000;
	font-weight: 1000;
	text-align: left;
}


#p1 {
	font-weight: 1000;
	color: #000;
	font-size: 1.2em;
	line-height: 120%;
}

#p2 {
	color: #000;
	line-height: 150%;
}

#p4 a {
	padding-left: 22px;
	color: #004ea2;
	border-bottom: 1px solid;
	background-image: url('./img/link.png');
	background-repeat: no-repeat;
}


#p3 {
	color: #aaaaaa;
	line-height: 150%;
}

#p4 {
	color: #000;
	line-height: 150%;
	margin: 0 1em 0 1em;
}



footer {
	padding: 100px 0 20px 0;
	color: #aaa;
	font-size: 0.8em;
}

#history h2 {
	position: relative;
	padding: 45px 0 0 30px;
	text-align: left;
	color: #004ea2;
	line-height: 1;
	z-index: 2;
}

#history h2:before {
	content: "";
	position: absolute;
	left: -10px;
	top: 60%;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #fff;
	border: 7px solid #004ea2;
	box-sizing: border-box;
}

#history h3 {
	padding: 0 0 0 20px;
	color: #004ea2;
}

#history div {
	position: relative;
	padding: 0 0 0 29px;
	z-index: 1;
}

#history div:before {
	content:  ""; 
	position: absolute; 
	left: 20px; 
	top: -100%; 
	height: 250%; 
	border-left: 10px solid #004ea2; 
}

#history p{
	margin-top: -0.1em;
	margin-bottom: 2em;
	text-align: left;
}



@media only screen and ( max-width: 1080px ) {
        #menuposition {
          	width: 100%;
          	min-width: 340px;
        }
        #iconposition {
          	width: 100%;
          	min-width: 340px;
        }
    }


@media only screen and (max-width: 568px) and (-webkit-device-pixel-ratio: 1.5),
(max-width: 568px), (max-width: 568px) and (-webkit-device-pixel-ratio: 2),
(max-width: 568px) and (-webkit-device-pixel-ratio: 3)
		 {
		#menu {
			height: 50px;
		}
        #menuposition {
          	width: 100%;
          	min-width: 340px;
          	height: 50px;
        }
        #iconposition {
        	width: 100%;
          	min-width: 340px;
          	height: 50px;
        }
        #iconbox {
        	width: 3em;
        }
        #menuoff {
			height: 30px;
    		padding: 15px 10px 0 11px;
			font-size: 14px;
		    line-height: 19px;
		}
		#menuon {
			height: 30px;
    		padding: 15px 10px 0 11px;
			font-size: 14px;
		    line-height: 19px;
		}
		#menulogo {
			width: 70px;
			height: 50px;
			margin-right: 30px;
		}
		#container {
			padding-top: 0px;
		}
		#contents h1{
			margin-top: 0;
			font-size: 3em;
		}
		#textbox {
			width: 100%;
			margin: 0;
		}
		#textboxleft {
			width: 90%;
		}

    }