@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
	margin: 0;
	background-color: #000;
	color: #fff;}

h1 {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
	font-size: 35px;
	margin: 10px 0;}

h3 {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin: 10px 0;}

p {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin: 20px 0;
	text-align: justify;
	word-break: break-all;}

p.year {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 25px;
	margin: 20px 0 0 0;
	text-align: justify;
	word-break: break-all;}

p.list {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin: 10px 0;
	text-align: justify;
	word-break: break-all;
	padding-left: 65px;
	text-indent: -65px;
}

a.outlinkitalic {
	box-shadow: inset 0 -7px 0 0 #004ea2;
	line-height: 21px;
	font-style:italic;
	padding: 0 3px;}

a.aarticle {
	text-decoration: none;
	cursor: pointer;}

i {
	padding: 0 3px;}

ul {
	margin: 0;
	padding: 0 0 0 15px;}

li {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin: 0;
	text-align: justify;
	word-break: break-all;}

li::marker {
	content: '- ';}

mark {
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
  font-size: 16px;
  padding: 2px 6px;
}

.container {
	margin: 0;
	padding: 80px 20px 0 20px;
	min-width: 250px;}

/* 반응형 메뉴 데스크톱 */
@media screen and (min-width: 768px) {
	.menubar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background-color: #000;
		margin: 0;
		padding: 0;
		text-align:center;
		border-bottom: 1px solid #555;
		z-index:2;}

	.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;}

	.menulogocirclemobile {
		display: none;}

	.menulogocircle {
		float: left;
		width: 50px;
		height: 50px;
		border-radius: 70%;
		overflow: hidden;
		margin-top: 15px;
		margin-left: 20px;
		padding: 0;
		cursor: pointer;}

	.menulogotext {
		float: left;
		height: 40px;
		margin: 20px;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 300;
		font-size: 25px;
		cursor: pointer;}

	.menuhamburger {
		display: none;}

	.hamburgerwrapper {
		display: none;}

	.hamburgerline {
		display: none;}

	.openmenu {
		position: fixed;
		top:0;
		width: 100%;
		max-width: 800px;
		height: 80px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		z-index: 3;}

	.openmenu ul {
		float: right;
		margin: 0 auto;
		padding-top: 28px;}

	.openmenu li {
		display:inline-block;
		margin: 0;
		padding: 0 20px;
		list-style: none;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:700;
		font-size:18px;}

	.openmenu a {
		color: #fff;
		text-decoration: none;
		cursor: pointer;}

	.openmenu li.homelink {
		display: none;}

	.opener {
		display: none;}

	.contents {
		max-width: 640px;
		margin: 20px auto;}

}
/* 반응형 메뉴 데스크톱 끝 */


/* 반응형 메뉴 모바일 시작 */
@media screen and (max-width:767.9px) {
	.menubar {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 60px;
		background-color: #000;
		margin: 0;
		padding: 0;
		text-align:center;
		border-bottom: 1px solid #555;
		z-index: 2;}

	.menulogocirclemobile {
		position: fixed;
		top: 10px;
		left: 50%;
		transform: translate(-50%, 0);
		width: 40px;
		height: 40px;
		border-radius: 70%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		cursor: pointer;
		z-index: 4}

	.menulogocircle {
		display: none;}

	.menulogotext {
		display: none;}

	.menuhamburger {
		float: right;
		top: 0;
		left: 0;
		display: block;
		width: 60px;
		height: 60px;
		cursor: pointer;
		z-index: 5;}

	.hamburgerwrapper {
		float: right;
		position: relative;
		width: 24px;
		height: 24px;
		padding: 18px;
		z-index: 5;}

	.hamburgerline {
		background:#fff;
		margin-bottom: 6px;
		width: 25px;
		height: 4px; 
		border-radius: 2px;
		position: relative;
		z-index: 5;}

	.openmenu {
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #000;
		border-bottom: 1px solid #555;
		position: fixed;
		top: -500px;
		left: 0;
		z-index: 6;
		transition: all 0.3s;}

  .openmenu.active {
    top: 0;
  	left: 0}

	.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    display: none;}

  .xwrapper {
  	width: 100%;
  	height: 60px;}

 	.xbotton {
		float: right;
		position: relative;
		width: 30px;
		height: 40px;
		padding: 20px 20px 0 20px;
	  cursor: pointer;}

	.xbotton:before, .xbotton:after {
		position: absolute;
		background-color: #fff;
		content:' ';
		height: 30px;
		width: 4px;}

	.xbotton:before {
		transform: rotate(45deg);}

	.xbotton:after {
		transform: rotate(-45deg);}

  .openmenu ul {
  	position: relative;
  	list-style-type: none;
  	padding: 0;}

	.openmenu li {
		margin: 10px 20px;
		list-style: none;
		text-align: right;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:700;
		font-size:25px;}

	.openmenu li::marker {
		content: '';}

	.openmenu a {
		color: #fff;
		text-decoration: none;
		cursor: pointer;
		list-style: none;}

	.openmenu li.homelink {
		margin: 10px 20px;
		list-style: none;
		text-align: right;
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:700;
		font-size:25px;}

	.contents {
		margin: 0 0 20px 0;}

	h1 {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900;
	font-size: 28px;
	margin: 10px 0;}
}
/* 반응형 메뉴 모바일 끝 */

.profilecircle {
	width: 150px;
	height: 150px;
	border-radius: 70%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0 0 30px 3px #004ea2;}

.profileimg {
	width: 100%;
	height: 100%;
	object-fit: cover;}

.button {
	width: calc(100% - 20px);
	color: white; 
	padding: 10px;
	display: inline-block;
	background-color: #004ea2;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom-color: rgba(0,0,0,0.34);
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
	            0 2px 0 -1px rgba(0,0,0,0.13), 
	            0 3px 0 -1px rgba(0,0,0,0.08), 
	            0 3px 13px -1px rgba(0,0,0,0.21);
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	margin: 0 0 20px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.button:active {
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

/* 유튜브 임베드용 시작 */
.youtubewrap {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	width: calc(100% + 40px);
	margin: 0;
	max-width: 640px;
	z-index: 0;}

.youtubebox {
	position: relative;
	width: 100%;
  padding-top: 56.25%;}

.youtubecontents {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;}
/* 유튜브 임베드용 끝 */


footer {
	margin: 60px 10px 0 10px}

.copyright {
	margin: 0;}

.copyright p {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	font-size: 15px;
	color: #aaa;
	text-align: center;
	margin:0px;}

.history {
	margin: 0 0 50px 0;
}

.news {
	margin: 0 0 50px 0;
}

.article p.title {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin: 5px 0 5px 0;
	text-align: justify;
	word-break: break-all;
	color: #70b5ff;}

.article p.title:hover {
	text-decoration:underline;}

.article p.more {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin: 5px 0 5px 0;
	text-align: justify;
	word-break: break-all;
	color: #fff;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;}

.article p.byline {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin: 5px 0 5px 0;
	text-align: justify;
	word-break: break-all;
	color: #aaa}

.article {
	background-color: #222;
	padding: 10px 20px;
	margin-bottom: 20px;}

.booklist i {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	font-size: 25px;
}

.booklist p {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	margin: 0;
}


/* 3D 태평천하 시작 */
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1300px;
  width: 300px;
  margin: 0 auto;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-2deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 225px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book, 
.book-container:focus .book {
  transform: rotateY(-2deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 225px;
  height: 300px;
  transform: translateZ(37.5px);
  background-color: #999999;
  border-radius: 0 0px 0px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: #000;
  left: 0;
  top: 1px;
  width: 73px;
  height: 298px;
  transform: translateX(186.5px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 225px;
  height: 300px;
  transform: translateZ(-37.5px);
  background-color: #999999;
  border-radius: 0 0px 0px 0;
  box-shadow: -10px 0 50px 10px #666;
}
/* 3D 태평천하 끝 */




/* 3D 존버일력 시작 */
.book-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1300px;
  width: 250px;
  margin: 0 auto;
}

@keyframes initAnimation2 {
  0% {
    transform: rotateY(-2deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book2 {
  width: 160px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation2;
}

.book-container2:hover .book2, 
.book-container2:focus .book2 {
  transform: rotateY(-2deg);
}

.book2 > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 160px;
  height: 250px;
  transform: translateZ(45px);
  background-color: #000000;
  border-radius: 0;
  box-shadow: 5px 5px 20px #000;
}

.book2::before {
  position: absolute;
  content: ' ';
  background-color: #000;
  left: 0;
  top: 1px;
  width: 88px;
  height: 248px;
  transform: translateX(114px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #666 0%,
    #555 5%,
    #666 10%,
    #555 15%,
    #666 20%,
    #555 25%,
    #666 30%,
    #555 35%,
    #666 40%,
    #555 45%,
    #666 50%,
    #555 55%,
    #666 60%,
    #555 65%,
    #666 70%,
    #555 75%,
    #666 80%,
    #555 85%,
    #666 90%,
    #333 95%,
    #333 100%
    );
}

.book2::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 160px;
  height: 250px;
  transform: translateZ(-45px);
  background-color: #000;
  border-radius: 0 0px 0px 0;
  box-shadow: -10px 0 50px 10px #000;
}